.button {
  appearance: none;
  background: grey;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  &:focus {
    outline-offset: -4px;
    outline: 1px dotted #fff;
  }

  &:active {
    transform: scale(0.9);
  }
}
